/* RecipePosts.module.css */
.recipesContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.noRecipes {
    color: #ff6347; /* Tomato */
    font-size: 24px;
    text-align: center;
    width: 100%;
    padding: 50px;
}
