/* RecipeDetails.module.css */
.detailsContainer {
    background-color: #fff5ee;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
    text-align: center;
}

.loading, .error, .notFound {
    color: #ff6347; /* Tomato */
    font-size: 20px;
    text-align: center;
}

.recipeImage {
    width: 50%;
    border-radius: 10px;
    margin-top: 10px;
}

.description {
    color: #696969; /* dimgray */
    font-size: 16px;
    line-height: 1.5;
    margin-top: 10px;
}

.ingredientsList {
    text-align: left;
    margin: 20px auto;
    max-width: 600px;
}
