.header {
  background-color: #ff6347;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.title {
  font-size: 24px;
  color: white;
  margin-bottom: 12px;;
}

.link, .button {
  color: white;
  padding: 8px 16px;
  text-decoration: none;
  font-size: 16px;
  border-radius: 5px;
  margin: 10px 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.link:hover, .button:hover {
  background-color: #ff4500;
}

.link:focus, .button:focus {
  color: #ffd700; 
}
