.card {
    background-color: #fff5ee;
    box-shadow: 0 20px 4px rgba(0, 0, 0, 0.1);
    overflow:hidden;
    border-radius: 50px;
    width:50vw;
    min-width:min-content;
    margin-left: auto;
    margin-bottom:5%;
    transition: transform 0.3s ease;
    margin-right: auto;
    display: flex;
    flex-direction: column;
}

.card:hover {
    transform: scale(1.02);
}

.recipeImg {
    width: 100%;
    height: 300px;
    object-fit: cover;
    /* border-top-left-radius: 8px; */
    /* border-top-right-radius: 8px; */
}

/* .content {
    padding: 15px;
} */

.button {
    background-color: #ff6347; 
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}